# cloned folders
deep-image-prior/
lucidsonicdreams/__pycache__/
stylegan2/
stylegan2_tf/
*/.ipynb_checkpoints/
.ipynb_checkpoints/
clmr_magnatagatune_mlp/
clmr/
Real-ESRGAN/
__pycache__/
stylegan3/
taming-transformers/
taming/
tmp/


# our folders
texts/
models/
songs/
songs_with_lyrics/
outputs/
build/
dist/
dream_venv/
lucidsonicdreams.egg-info/*

# files
tmp.wav
temp_script.py
*.mp3
*.mp4
*.pkl
*.jpg
*.pt
*.zip
*.png
*.srt
gen.py

